#choropleth_map {
	top:10px;
	bottom: 10px; 
	left: 10px;
	right: 10px;
}
body *{
	font-family: 'Inter', sans-serif;
	font-size: large;
	
}
  
h1 {
	font-weight: 900;
	background-color: rgb(252, 250, 220);
	font-size: xx-large;
	font-family: 'Merriweather', serif;
}
  
body {
	background-color: rgb(219, 242, 255);
}

.pure-u-1-1 {
	background-color: rgb(252, 250, 220);
}

.page {
	width: 1250px;
	background-color: white;
	margin: auto;
	padding: 30px;
	padding-top: 35px;
}
  
.vis-container {
	width: 90%;
}
  
.dangerous_text {
	color: rgb(170, 1, 1);
}

.safe_text {
	color: rgb(211, 137, 0);
}

.description h2,
  h1 {
	margin-top: 0px;
}
  
.description-right {
	padding-left: 0px;
}
  
.description-left {
	padding-right: 50px;
}
  
.pure-g {
	margin-bottom: 40px;
	font-family: 'Inter', sans-serif;
}
  
.small-font {
	font-size: 16px;
}